<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Silvia</string>
		<string>Vidaurre</string>
		<string>Computer</string>
		<string>Iota</string>
		<string>68</string>
	</array>
	<array>
		<string>Maikol</string>
		<string>Guerrero</string>
		<string>Civil</string>
		<string>Iota</string>
		<string>78</string>
	</array>
	<array>
		<string>Diana</string>
		<string>Alvarez</string>
		<string>Biomedical</string>
		<string>Delta Eta</string>
		<string>92</string>
	</array>
	<array>
		<string>Betzaida</string>
		<string>Hernandez</string>
		<string>Chemistry</string>
		<string>Iota</string>
		<string>77</string>
	</array>
</array>
</plist>
